<dialog #dialog>
    <h2>Add item to {{listname}}</h2>
    @if(showCompendium){
        <div class="spacingbottommedium">
            <input type="checkbox" id="add-item-display-compendium" [formControl]="displayCompendium">
            <label for="add-item-display-compendium">Show compendium to copy from</label>
        </div>
    }
    <div class="flexbetween">
        <div class="flex1">
            <form [formGroup]="form">
                <div class="spacingbottommedium">
                    <div class="spacingbottomsmall">
                        <label class="spacingrightsmall" for="add-item-name">Item name:</label>
                    </div>
                    <div>
                        <input class="width100" type="text" id="add-item-name" formControlName="name">
                    </div>
                </div>
                <div class="spacingbottommedium">
                    <div class="spacingbottomsmall">
                        <label for="add-item-text">Item description</label>
                    </div>
                    <div>
                        <textarea id="add-item-text" rows="7" formControlName="text"></textarea>
                    </div>
                </div>
            </form>
            <div class="flexbetween">
                <button (click)="cancel()">Cancel</button>
                <button (click)="addNewItem()" [disabled]="!form.valid">Add</button>
            </div>
        </div>
        @if(showCompendium && displayCompendium.value) {
            <div class="spacingleftlarge flex1">
                <gneric-ro-compendium (selectItemEvent)="reactOnSelectItemEvent($event)" />
            </div>
        }
    </div>
</dialog>