<fieldset #fieldSet class="editable">
    @if(editable()) {
        <legend #legend class="ctrl-elem">{{fullId}}</legend>
    }
    <div class="boxed">
        <button class="accordeonhead" (click)="toggleExpansion()" [attr.aria-controls]="'item-list-'+listname.value" [attr.aria-expanded]="expanded()">
        <h4 class="inheritbg">{{listname.value}}</h4>
        <svg class="svgicon size20 inheritbg" aria-hidden="true"
            viewBox="0 0 10 10"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                @if(!expanded()) {
                    <path
                        style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="M 2.3,9 V 1 l 6,4 z" />
                }
                @else {
                    <path
                    style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 1,2.3 h 8 l -4,6 z" />
                }
            </svg>
        </button>
        @if(expanded()) {
            <div id="item-list-{{listname.value}}">
            @for(item of items; track item.getId()) {
                <gneric-itementry (gNericElemChangedEvent)="fireEntryChangeEvent($event)" (deleteEntryEvent)="deleteItem(item.getId())" [model]="item" [editable]="editable()" />
            }
            </div>
            <div>
                <button (click)="handleAddNewEntry()">add new entry to {{listname.value}}</button>
            </div>
        }
    </div>
    @if(editable()) {
        <button (click)="fireDeleteItemlistEvent()">delete item list</button>
    }
</fieldset>
<gneric-additemmodal #modal (newItemEvent)="addNewItem($event)" [listname]="listname.value" />