<fieldset [class.editable]="editable" class="elemblock">
    @if(editable) {
        <legend #legend class="ctrl-elem">itemlist-{{getId()}}</legend>
        <div class="ctrl-elem spacingbottommedium">
            <label class="spacingrightsmall" for="listnameform-{{getId()}}">List name:</label>
            <input type="text" id="listnameform-{{getId()}}" [formControl]="elemModel.title" (input)="fireListChangeEvent()">
        </div>
    }
    <div>
        <button class="accordeonhead" (click)="toggleExpansion()" [attr.aria-controls]="'item-list-'+getTitle()" [attr.aria-expanded]="expanded()">
        <h4 class="inheritbg">{{getTitle()}}</h4>
        <svg class="svgicon size20 inheritbg" aria-hidden="true"
            viewBox="0 0 10 10"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                @if(!expanded()) {
                    <path
                        style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="M 2.3,9 V 1 l 6,4 z" />
                }
                @else {
                    <path
                    style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 1,2.3 h 8 l -4,6 z" />
                }
            </svg>
        </button>
        @if(expanded()) {
            <div id="item-list-{{getTitle()}}">
            @for(item of elemModel.items; track item.getId()) {
                <gneric-itementry (gNericElemChangedEvent)="fireEntryChangeEvent($event)" (deleteEntryEvent)="deleteItem(item.getId())" [model]="item" [editable]="editable" />
            }
            </div>
            @if(editable || extendable) {
                <div class="spacingtopmedium">
                    <button (click)="handleAddNewEntry()">Add new entry to {{getBackupedTitle()}}</button>
                </div>
            }
        }
    </div>
    @if(editable) {
        <div class="ctrl-elem flexend spacingbottomsmall spacingtopmedium" >
            <button (click)="fireDeleteItemlistEvent()">Delete item list</button>
        </div>
    }
</fieldset>
<gneric-additemmodal #modal (newItemEvent)="addNewItem($event)" [listname]="getTitle()" />