<button class="accordeonhead secondarycol" (click)="toggleExpansion()" [attr.aria-controls]="'item-'+model.getId()" [attr.aria-expanded]="expanded">
    <span class="inheritbg">{{model.name.value}}</span>
    <svg class="svgicon size15 inheritbg" aria-hidden="true"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    @if(!expanded) {
        <path
            style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="M 2.3,9 V 1 l 6,4 z" />
    }
    @else {
        <path
            style="fill:inherit;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1,2.3 h 8 l -4,6 z" />
    }
    </svg>
</button>
@if(expanded) {
    <div id="item-{{model.getId()}}">
        @if(!editable) {
            @for(line of model.getLines(); track $index) {
                <div>{{line}}</div>
            }
        }
        @else{
            <div>
                <label for="item-name-{{model.getId()}}">Name:</label>
                <input type="text" id="item-name-{{model.getId()}}" [formControl]="model.name">
            </div>
            <textarea rows="7" [formControl]="model.text"></textarea>
        }
    </div>
    <button (click)="fireDeleteEntryEvent()">delete {{model.name.value}}</button>
}