<fieldset [class.editable]="editable" class="elemblock">
    @if(editable) {
        <legend #legend class="ctrl-elem">table-{{elemModel.getId()}}</legend>
        <div #editPanel class="ctrl-elem spacingbottommedium">
            <div class="spacingbottomsmall">
                <label class="spacingrightsmall" for="titleform-{{elemModel.getId()}}">{{'table.change_title'|translate}}</label>
                <input type="text" id="titleform-{{elemModel.getId()}}" [formControl]="elemModel.title" (input)="fireElemChangedEvent()">
            </div>
            <div>
                <button [disabled]="curRow<0 || curCol<0" (click)="addRowAboveCurrent()">{{'table.add_row_above'|translate}}</button>
                <button [disabled]="curRow<0 || curCol<0" (click)="addRowBelowCurrent()">{{'table.add_row_below'|translate}}</button>
                <button [disabled]="elemModel.alterer.getRows()<2" (click)="removeCurrentRow()">{{'table.remove_row'|translate}}</button>
            </div>
            <div>
                <button [disabled]="curRow<0 || curCol<0 || elemModel.alterer.getCols()>=maxCols" (click)="addColumnLeftOfCurrent()">{{'table.add_col_left'|translate}}</button>
                <button [disabled]="curRow<0 || curCol<0 || elemModel.alterer.getCols()>=maxCols" (click)="addColumnRightOfCurrent()">{{'table.add_col_right'|translate}}</button>
                <button [disabled]="elemModel.alterer.getCols()<2" (click)="removeCurrentColumn()">{{'table.remove_col'|translate}}</button>
            </div>
            <div>
                <button [disabled]="widthController.equalDistributed" (click)="widthController.distrubuteColumnsEqually()">{{'table.equal_width'|translate}}</button>
            </div>
            <div class="spacingtopsmall" aria-live="polite">{{lockInfo}}</div>
        </div>
    }
    <div class="boxed paddingtopsmall">
        @if(hasTitle() || editable) {
            <div class="paddingleftsmall">
                <h4 class="elemtitle">{{elemModel.title.value}}</h4>
            </div>
        }
        <table>
            <tbody #tableBody >
                @for(row of elemModel.alterer.content; track $index; let rowIdx = $index) {
                    <tr>
                        @for(col of row; track $index; let colIdx = $index) {
                            @if(!editable || colIdx != curCol || rowIdx != curRow) {
                                <td [style]="col.widthStyle()">
                                    <input type="text" (focus)="setSelectedCell($event)" (contextmenu)="setAndLockSelectedCell($event)" (input)="fireElemChangedEvent()" [formControl]="col.text">
                                </td>
                            }
                            @else {
                                <td class="current" [style]="col.widthStyle()">
                                    <input type="text" class="current" (focus)="setSelectedCell($event)" (contextmenu)="setAndLockSelectedCell($event)" (input)="fireElemChangedEvent()" [formControl]="col.text">
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div #dragContainer class="shifterBox" [class.hidden]="!editable">
        @for(left of widthController.lefts; track left) {
            @if(!$first) {
                <button class="shifter" [style]="left" (cdkDragStarted)="startDraggingShifter($index)" (cdkDragEnded)="widthController.endDraggingShifter()" (cdkDragMoved)="widthController.moveDraggingShifter($event, $index)" cdkDragBoundary=".shifterBox" cdkDragLockAxis="x" cdkDrag>&lt;&gt;</button>
            }
        }
    </div>
    @if(editable) {
        <div class="ctrl-elem flexend spacingbottomsmall spacingtopmedium">
            <button (click)="deleteTable()">{{'table.delete'|translate}}</button>
        </div>
    }
</fieldset>