<table class="boxed">
    <tbody #tableBody >
        <tr>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
        </tr>
        <tr>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
        </tr>
        <tr>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
            <td><input type="text" (focus)="setSelectedCell($event)"></td>
        </tr>
    </tbody>
</table>
<div>
    <button [disabled]="curRow<0 || curCol<0" (click)="addRowBeforeCurrent()">add row before current</button>
    <button [disabled]="curRow<0 || curCol<0">add row after current</button>
    <button>remove current row</button>
</div>
<div>
    <button [disabled]="curRow<0 || curCol<0" (click)="addColumnBeforeCurrent()">add column before current</button>
    <button [disabled]="curRow<0 || curCol<0">add column after current</button>
    <button>remove current column</button>
</div>