<div #dragContainer class="shifterBox">
    @for(left of lefts; track left) {
        @if(!$first) {
            <button class="shifter" [style]="left.text" (cdkDragStarted)="startDraggingShifter($index)" (cdkDragEnded)="endDraggingShifter($index)" (cdkDragMoved)="moveDraggingShifter($event, $index)" cdkDragBoundary=".shifterBox" cdkDragLockAxis="x" cdkDrag>&lt;&gt;</button>
        }
    }
</div>
<table class="boxed">
    <tbody #tableBody >
        @for(row of content; track row) {
            <tr>
                @for(col of row; track col) {
                    <td [style]="col.widthStyle()"><input type="text" (focus)="setSelectedCell($event)" (contextmenu)="setAndLockSelectedCell($event)" [(value)]="col.text"></td>
                }
            </tr>
        }
    </tbody>
</table>
<div aria-live="polite">{{lockInfo}}</div>
<div>
    <button [disabled]="curRow<0 || curCol<0" (click)="addRowBeforeCurrent()">add row before current</button>
    <button [disabled]="curRow<0 || curCol<0" (click)="addRowAfterCurrent()">add row after current</button>
    <button [disabled]="getRows()<2" (click)="removeCurrentRow()">remove current row</button>
</div>
<div>
    <button [disabled]="curRow<0 || curCol<0 || getCols()>=maxCols" (click)="addColumnBeforeCurrent()">add column before current</button>
    <button [disabled]="curRow<0 || curCol<0 || getCols()>=maxCols" (click)="addColumnAfterCurrent()">add column after current</button>
    <button [disabled]="getCols()<2" (click)="removeCurrentColumn()">remove current column</button>
</div>
<div>
    <button [disabled]="equalDistributed" (click)="distrubuteColumnsEqually()">Equal column width</button>
</div>