<div>
    <div>
        @if(chapter) {
            <h2>{{chapter.getName()}}</h2>
            @if(editable && isGM) {
                <div class="spacingbottomlarge">
                    <label for="compchapter-{{chapter.getId()}}">{{'chapter.edit_name'|translate}}</label>
                    <input class="spacingleftsmall spacingrightsmall" type="text" id="compchapter-{{chapter.getId()}}" [formControl]="chapter.name" (input)="fireChapterPatchEvent()">
                </div>
            }
            <div>
                @for(list of chapter.lists; track list.getId()) {
                    <gneric-itemlist [elem]="list" [editable]="editable && isGM" [extendable]="isGM" [showCompendium]="false" (deleteCoreElemEvent)="openDeleteListDialog($event)" (gNericElemChangedEvent)="reactOnChange($event)" />
                }
                @if(editable && isGM) {
                    <button class="spacingtopmedium" (click)="addItemList()">{{'chapter.add_list'|translate}}</button>
                }
            </div>
        }
        @else {
            <p>
                {{'chapter.no_selection'|translate}}
            </p>
        }
    </div>
    <gneric-deldialog #dialog [text]="'chapter.delete_list_headline'|translate:{listtitle:getToBeDeletedTitle()}" (acceptDeletionEvent)="deleteItemList()" />
</div>