<div>

    <div>
        @if(chapter) {
            <h2>{{chapter.getName()}}</h2>
            @if(editable && isGM) {
                <div class="spacingbottomlarge">
                    <label for="compchapter-{{chapter.getId()}}">Edit chapter name:</label>
                    <input class="spacingleftsmall spacingrightsmall" type="text" id="compchapter-{{chapter.getId()}}" [formControl]="chapter.name" (input)="fireChapterPatchEvent()">
                </div>
            }
            <div>
                @for(list of chapter.lists; track list.getId()) {
                    <gneric-itemlist [elem]="list" [editable]="editable && isGM" [extendable]="isGM" (deleteCoreElemEvent)="openDeleteListDialog($event)" (gNericElemChangedEvent)="reactOnChange($event)" />
                }
                @if(editable && isGM) {
                    <button class="spacingtopmedium" (click)="addItemList()">Add new list</button>
                }
            </div>
        }
        @else {
            <p>
                No chapter selected.
            </p>
        }
    </div>
    <gneric-deldialog #dialog [text]="'Delete '+getToBeDeletedTitle()+'?'" (acceptDeletionEvent)="deleteItemList()" />
</div>