<div>
    <h3>{{getTitle()}}</h3>
    @for(block of pageModel.getBlocks(); track block.getId()) {
        <div class="spacingbottomlarge spacingtoplarge">
            <gneric-block
                [blockModel]="block"
                [editable]="editable"
                (gNericElemChangedEvent)="reactOnBlockUpdate($event)" />
            @if(editable) {
                <div class="flexend spacingtopmedium">
                    <button (click)="openDeleteDialog(block.getId())">{{'page.delete_block'|translate}}</button>
                </div>
            }
        </div>
    }
    @if(editable) {
        <div class="spacingbottomlarge spacingtoplarge flexcenter">
            <button (click)="addBlock()">{{'page.add_block'|translate}}</button>
        </div>
        <div class="spacingtoplarge flexend" >
            <button [translate]="'page.delete_page'" [translateParams]="{title: getTitle()}" (click)="openDeletePageDialog()"></button>
        </div>
    }
    <gneric-deldialog #dialog [text]="'page.delete_block_headline'|translate" (acceptDeletionEvent)="deleteBlock()" />
    <gneric-deldialog #delPageDialog [text]="'page.delete_page_headline'|translate:{title:getTitle()}" (acceptDeletionEvent)="deletePage()" />
</div>