<div>
    <h3>{{pageModel.getTitle()}}</h3>
    @for(block of pageModel.getBlocks(); track block.getId()) {
        <div class="spacingbottomlarge spacingtoplarge">
            <gneric-block
                [blockModel]="block"
                (gNericElemChangedEvent)="reactOnBlockUpdate($event)" />
            @if(editable()) {
                <div class="flexend spacingtopmedium">
                    <button (click)="openDeleteDialog(block.getId())">Delete block</button>
                </div>
            }
        </div>
    }
    @if(editable()) {
        <div class="spacingbottomlarge spacingtoplarge flexcenter">
            <button (click)="addBlock()">Add block of elements</button>
        </div>
    }
    <gneric-deldialog #dialog [text]="'Delete block?'" (acceptDeletionEvent)="deleteBlock()" />
</div>