<div>
    @if(listModel) {
        <button class="accordeonhead" (click)="toggleExpansion()" [attr.aria-controls]="'comp-list-'+getTitle()" [attr.aria-expanded]="expanded()">
            <h4 class="inheritbg">{{getTitle()}}</h4>
            <svg class="svgicon size20 inheritbg" aria-hidden="true"
                viewBox="0 0 10 10"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                @if(!expanded()) {
                    <path
                        class="accordeonarrow"
                        d="M 2.3,9 V 1 l 6,4 z" />
                }
                @else {
                    <path
                    class="accordeonarrow"
                    d="m 1,2.3 h 8 l -4,6 z" />
                }
            </svg>
        </button>
        @if(expanded()) {
            <div id="comp-list-{{getTitle()}}">
            @for(item of listModel.items; track item.getId()) {
                <gneric-ro-itementry [item]="item" (selectItemEvent)="bubbleSelectItemEvent($event)" />
            }
            </div>
        }    
    }
</div>