<fieldset #fieldSet class="editable">
    @if(!editable) {
        <label for="{{id}}-dmg-input">Damage:</label>
        <input id="{{id}}-dmg-input" type="text" [formControl]="dmgInput" (input)="onDmgInput()" (keyup.enter)="onSubmitDamage()">
        <svg #checkmark width="15px" height="15px" class="svgokicon hidden"
            viewBox="0 0 10 10"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <path
               style="fill:none;stroke:inherit;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 9,1 4,8.7 1,6.2" />
        </svg>

    }
    @else {
        <legend #legend class="ctrl-elem">{{fullId}}</legend>
        <div class="ctrl-elem">
            <div>
                <button (click)="modal.openDmgTierConfigModal()">configure damage tiers</button>
            </div>
            <div>
                <button (click)="addRow()">add row</button>
                <button [disabled]="rows.length<2" (click)="removeRow()">remove row</button>
            </div>
            <div>
                <button (click)="addCol()">add column</button>
                <button [disabled]="getPointsPerRow()<2" (click)="removeCol()">remove column</button>
            </div>
            <div>
                <input type="checkbox" id="showText-{{id}}" [formControl]="showTextsCheckbox" (change)="updateTextVisibility()">
                <label for="showText-{{id}}">Show texts</label>
            </div>
        </div>
    }
    <div class="boxed nopadding">
        @for(row of rows; track row.id) {
            @if(!$last) {
                <gneric-rpmrow [status]="row" [showText]="textVisible" [textEditable]="editable" class="thinbottomborder blockdisplay"/>
            }
            @else {
                <gneric-rpmrow [status]="row" [showText]="textVisible" [textEditable]="editable" />
            }
        }
    </div>
</fieldset>
<gneric-dcm #modal (setDmgConfigEvent)="updateDmgConfig($event)" />