<div [class.blockbox]="editable">
    @for(elem of blockModel.getElems(); track elem.getId()) {
        @switch(elem.getType()) {
            @case('textfield') {
                <gneric-textfield [elem]="elem" [editable]="editable" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('table') {
                <gneric-table [elem]="elem" [editable]="editable" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('rpm') {
                <gneric-rpm [elem]="elem" [editable]="editable" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('itemlist') {
                <gneric-itemlist [elem]="elem" [editable]="editable" [showCompendium]="true" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('checkboxes') {
                <gneric-checkboxes [elem]="elem" [editable]="editable" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
        }
    }
    @if(editable) {
        <div class="ctrl-elem spacingbottommedium spacingtopmedium">
            <button (click)="addTextfield()">{{'block.add_textfield'|translate}}</button>
            <button (click)="addTable()">{{'block.add_table'|translate}}</button>
            <button (click)="addRPM()">{{'block.add_rpm'|translate}}</button>
            <button (click)="addItemlist()">{{'block.add_itemlist'|translate}}</button>
            <button (click)="addCheckboxes()">{{'block.add_checkboxes'|translate}}</button>
        </div>
    }
</div>
<gneric-delelemdialog #modal (acceptDeletionEvent)="deleteElement()" />