<div #block class="blockbox">
    @for(elem of blockModel.getElems(); track elem.getId()) {
        @switch(elem.getType()) {
            @case('textfield') {
                <gneric-textfield [elem]="elem" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('table') {
                <gneric-table [elem]="elem" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            @case('rpm') {
                <gneric-rpm [elem]="elem" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            }
            <!-- @case('itemlist') {
                <gneric-itemlist [id]="elem.getId()" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            } -->
            <!-- @case('checkboxes') {
                <gneric-checkboxes [id]="elem.getId()" (deleteCoreElemEvent)="openDeleteElemDialog($event)" (gNericElemChangedEvent)="reactOnElementChange($event)"/>
            } -->
        }
    }
    @if(editable()) {
        <div class="ctrl-elem spacingbottommedium spacingtopmedium">
            <button (click)="addTextfield()">Add textfield</button>
            <button (click)="addTable()">Add table</button>
            <button (click)="addRPM()">Add ressource points</button>
            <!-- <button (click)="addItemlist()">Add item list</button> -->
            <!-- <button (click)="addCheckboxes()">Add checkboxes</button> -->
        </div>
    }
</div>
<gneric-delelemdialog #modal (acceptDeletionEvent)="deleteElement()" />