<div>
    @for(elem of elems; track elem.getId()) {
        @switch(elem.getType()) {
            @case('textfield') {
                <gneric-textfield [id]="elem.getId()" />
            }
            @case('table') {
                <gneric-table [id]="elem.getId()" />
            }
            @case('rpm') {
                <gneric-rpm [id]="elem.getId()" />
            }
            @case('itemlist') {
                <gneric-itemlist [id]="elem.getId()" />
            }
            @case('checkboxes') {
                <gneric-checkboxes [id]="elem.getId()" />
            }
        }
    }
</div>