<main class="main">
  <div>Hello, GNericCharSheet</div>
  <div>
    <input type="checkbox" name="elemEdit" id="elemEdit" (change)="setElemsEditable($event)" checked />
    <label for="elemEdit">Elements editable</label>
  </div>
  <!-- <gneric-textfield
    (deleteTextfieldEvent)="deleteTextfield($event)"
    (gNericElemChangedEvent)="reactOnChange($event)"/>
  <gneric-table
    (deleteTableEvent)="deleteTable($event)"
    (gNericElemChangedEvent)="reactOnChange($event)" />
  <gneric-rpm
    (deleteRPMEvent)="deleteRPM($event)"
    (gNericElemChangedEvent)="reactOnChange($event)" />
  <gneric-itemlist 
    (deleteItemListEvent)="deleteItemList($event)"
    (gNericElemChangedEvent)="reactOnChange($event)" />
  <gneric-checkboxes 
    (deleteCheckboxesEvent)="deleteCheckboxes($event)"
    (gNericElemChangedEvent)="reactOnChange($event)" /> -->
    <gneric-block (gNericElemChangedEvent)="reactOnChange($event)" />
</main>