<main class="main">
  <div>
    <input type="checkbox" id="elemEdit" [formControl]="editableCheckbox">
    <label for="elemEdit">Elements editable</label>
  </div>

  <div ngTabs>
    <div ngTabList class="flexbox wrapping spacingbottomlarge">
      <div ngTab class="tab" value="sheets">Sheets</div>
      <div ngTab class="tab" value="compendium">Compendium</div>
    </div>

    <div>
      <div ngTabPanel value="sheets" [preserveContent]="false">
        <ng-template ngTabContent>
          <gneric-sheetcollection #sheetCollection [sheets]="sheets" [isGM]="isGM()" [assignments]="sheetAssignments" [editable]="editableCheckbox.value ?? false" [otherPlayers]="otherPlayers" (gNericElemChangedEvent)="reactOnSheetChange($event)" (playerSelectEvent)="reactOnPlayerSelection($event)" />
        </ng-template>
      </div>

      <div ngTabPanel value="compendium" [preserveContent]="false">
        <ng-template ngTabContent>
          <gneric-compendium #compendiumElement [compModel]="compendium" [isGM]="isGM()" [editable]="editableCheckbox.value ?? false" (gNericElemChangedEvent)="reactOnCompendiumChange($event)" />
        </ng-template>
      </div>
    </div>

  </div>  
</main>