<fieldset #fieldSet class="editable">
    @if(editable()) {
        <legend class="ctrl-elem">{{fullId}}</legend>
        <div class="ctrl-elem">
            <label class="spacingrightsmall" for="titleform">Change title to:</label>
            <input type="text" id="titleform" (input)="this.fireElemChangeEvent()" [formControl]="title">
        </div>
        <div class="ctrl-elem spacingbottommedium spacingtopsmall">
            <button (click)="addRow()">Add row</button>
            <button (click)="removeRow()" [disabled]="rows.length<2">Remove row</button>
        </div>
    }
    <div class="boxed paddingsmall">
        @if(editable() || hasTitle()) {
            <h3 class="elemtitle">{{title.value}}</h3>
        }
        @for(row of rows; track $index) {
            <div class="betweenflex">
                <label for="checkbox-{{$index}}">
                    @if(!editable()) {
                        {{row.getText()}}
                    }
                    @else {
                        <input type="text" (input)="this.fireElemChangeEvent()" [formControl]="row.text">
                    }
                </label>
                <input type="checkbox" id="checkbox-{{$index}}" (change)="this.fireElemChangeEvent()" [formControl]="row.checkbox">
            </div>
        }
    </div>
    @if(editable()) {
        <div class="ctrl-elem flexright spacingbottomsmall spacingtopmedium">
            <button (click)="fireDeleteCheckboxesEvent()">Delete checkboxes</button>
        </div>
    }
</fieldset>