<fieldset #fieldSet class="editable elemblock">
    @if(editable()) {
        <legend class="ctrl-elem">checkboxes-{{getId()}}</legend>
        <div class="ctrl-elem spacingbottommedium spacingtopsmall">
            <div class="spacingbottomsmall">
                <label class="spacingrightsmall" for="titleform">Change title to:</label>
                <input type="text" id="titleform" (input)="this.fireElemChangeEvent()" [formControl]="elemModel.title">
            </div>
            <div>
                <button (click)="addRow()">Add row</button>
                <button (click)="removeRow()" [disabled]="elemModel.rows.length<2">Remove row</button>
            </div>
        </div>
    }
    <div class="boxed paddingsmall">
        @if(editable() || hasTitle()) {
            <h3 class="elemtitle">{{elemModel.getTitle()}}</h3>
        }
        @for(row of elemModel.rows; track $index) {
            <div class="flexbetween">
                <label for="checkbox-{{$index}}">
                    @if(!editable()) {
                        {{row.getText()}}
                    }
                    @else {
                        <input type="text" (input)="this.fireElemChangeEvent()" [formControl]="row.text">
                    }
                </label>
                <input type="checkbox" id="checkbox-{{$index}}" (change)="this.fireElemChangeEvent()" [formControl]="row.checkbox">
            </div>
        }
    </div>
    @if(editable()) {
        <div class="ctrl-elem flexend spacingbottomsmall spacingtopmedium">
            <button (click)="fireDeleteCheckboxesEvent()">Delete checkboxes</button>
        </div>
    }
</fieldset>