<div>
    <div class="flexbox wrapping">
        @for(page of pages; track page.getId()) {
            @if(page.getId() === curPageId) {
                <button class="tab selected paddingleftmedium paddingrightmedium" (click)="showPage(page.getId())">{{page.getTitle()}}</button>
            }
            @else {
                <button class="tab paddingleftmedium paddingrightmedium" (click)="showPage(page.getId())">{{page.getTitle()}}</button>
            }
        }
    </div>
    <div>
        @for(page of pages; track page.getId()) {
            @if(page.getId() === curPageId) {
                <gneric-sheetpage [pageModel]="page" />
            }
            @else {
                <gneric-sheetpage class="hidden" [pageModel]="page" />
            }
        }
    </div>
</div>