<div>
    <h2>{{sheetModel.getCharName()}}</h2>
    @if(editable) {
        <div class="spacingbottomlarge">
            <label for="addPage-{{sheetModel.getId()}}">Name of new page</label>
            <input class="spacingleftsmall spacingrightsmall" type="text" id="addPage-{{sheetModel.getId()}}" [formControl]="newPageTitle">
            <button (click)="addPage()" [disabled]="!newPageTitle.valid">Add page</button>
        </div>
    }
    <!-- TODO: the keyboard interactions of an accessible tabbed pane -->
    <div class="flexbox wrapping" role="tablist">
        @for(page of sheetModel.getPages(); track page.getId()) {
            @if(page.getId() === curPageId) {
                <button class="tab selected paddingleftmedium paddingrightmedium" role="tab" aria-selected="true" id="tab-{{page.getId()}}" [attr.aria-controls]="'panel-'+page.getId()" tabindex="0" (click)="showPage(page.getId())">{{page.getTitle()}}</button>
            }
            @else {
                <button class="tab paddingleftmedium paddingrightmedium" role="tab" aria-selected="false" id="tab-{{page.getId()}}" [attr.aria-controls]="'panel-'+page.getId()" tabindex="-1" (click)="showPage(page.getId())">{{page.getTitle()}}</button>
            }
        }
    </div>
    <div>
        @for(page of sheetModel.getPages(); track page.getId()) {
            @if(page.getId() === curPageId) {
                <gneric-sheetpage id="panel={{page.getId()}}" role="tabpanel" [editable]="editable" [attr.aria-labelledby]="'tab-'+page.getId()" [pageModel]="page" (gNericElemChangedEvent)="reactOnPageUpdate($event)" (deletePageEvent)="deletePage($event)" />
            }
            @else {
                <gneric-sheetpage id="panel={{page.getId()}}" role="tabpanel" [editable]="editable" [attr.aria-labelledby]="'tab-'+page.getId()" class="hidden" hidden [pageModel]="page" (gNericElemChangedEvent)="reactOnPageUpdate($event)" (deletePageEvent)="deletePage($event)" />
            }
        }
        @empty {
            <div>No pages</div>
        }
    </div>
</div>