<div>
    <div>
        <div>
            <label for="sheet-select" class="spacingrightsmall">{{'sheetcollection.select_sheet'|translate}}</label>
            <select id="sheet-select" [formControl]="sheetSelect" (change)="selectSheet()">
                @for(sheet of sheets.sheets; track sheet.getId()) {
                    <option value="{{sheet.getId()}}">{{sheet.getCharName()}}</option>
                }
            </select>
        </div>
        @if(isGM) {
            <div>
                <label for="player-select" class="spacingrightsmall">{{'sheetcollection.played_by'|translate}}</label>
                <select id="player-select" [formControl]="playerSelect" (change)="selectPlayer()">
                    <option value="">{{'sheetcollection.no_one'|translate}}</option>
                    @for(player of otherPlayers; track player.id) {
                        @if(player.role === 'PLAYER') {
                            <option value="{{player.id}}">{{player.name}}</option>
                        }
                    }
                </select>
            </div>
        }
    </div>
    @if(editable && isGM) {
        <div class="spacingtopsmall">
            <label for="sheet-newCharName">{{'sheetcollection.add_character'|translate}}</label>
            <input class="spacingrightsmall spacingleftsmall" type="text" id="sheet-newCharName" [formControl]="newCharName">
            <button [disabled]="!newCharName.valid" (click)="addSheet()">{{'sheetcollection.create_sheet'|translate}}</button>
        </div>
        <div class="spacingtopsmall">
            <button [disabled]="!currentSheet" [translate]="'sheetcollection.copy_sheet'" [translateParams]="{name: getPossesiveFormOfName()}" (click)="copySheet()"></button>
        </div>
    }
    <hr class="spacingtopmedium spacingbottomlarge">
    @if(currentSheet) {
        <gneric-sheet [sheetModel]="currentSheet" [editable]="editable" (gNericElemChangedEvent)="reactOnSheetUpdate($event)"/>
    }
    @else {
        <p>{{'sheetcollection.no_sheet'|translate}}</p>
        @if(!isGM) {
            <p>{{'sheetcollection.player_constraint'|translate}}</p>
        }
    }
    @if(editable && isGM) {
        <hr class="spacingtoplarge spacingbottommedium">
        <div class="flexend">
            <button [disabled]="!currentSheet" (click)="openDeleteDialog()">{{'sheetcollection.delete_sheet'|translate}}</button>
        </div>
    }
</div>
<gneric-deldialog #dialog [text]="'Delete '+getPossesiveFormOfName()+' sheet?'" (acceptDeletionEvent)="deleteSheet()" />