<div>
    <div>
        <label for="sheet-select" class="spacingrightsmall">Show sheet:</label>
        <select id="sheet-select" [formControl]="sheetSelect" (change)="selectSheet()">
            @for(sheet of sheets.sheets; track sheet.getId()) {
                <option value="{{sheet.getId()}}">{{sheet.getCharName()}}</option>
            }
        </select>
    </div>
    @if(editable) {
        <div class="spacingtopsmall">
            <label for="sheet-newCharName">Add new Character:</label>
            <input class="spacingrightsmall spacingleftsmall" type="text" id="sheet-newCharName" [formControl]="newCharName">
            <button [disabled]="!newCharName.valid" (click)="addSheet()">Create sheet</button>
        </div>
    }
    <hr>
    @if(currentSheet) {
        <gneric-sheet [sheetModel]="currentSheet" [editable]="editable" (gNericElemChangedEvent)="reactOnSheetUpdate($event)"/>
    }
    @else {
        <span>No character sheet selected</span>
    }
</div>