@obr-dark-bg-paper: #222639;
@obr-dark-bg-default: #1e2231;
@obr-dark-prim-main: #bb99ff;
@obr-dark-prim-light: rgb(200, 173, 255);
@obr-dark-prim-dark: rgb(130, 107, 178);
@obr-dark-prim-contrast: rgba(0, 0, 0, 0.87);
@dark-prim-disabled: rgb(97, 89, 114);
@obr-dark-sec-main: #ee99ff;
@obr-dark-sec-light: rgb(241, 173, 255);
@obr-dark-sec-dark: rgb(166, 107, 178);
@obr-dark-sec-contrast: rgba(0, 0, 0, 0.87);
@dark-sec-disabled: rgb(93, 75, 97);
@obr-dark-text-prim: #fff;
@obr-dark-text-sec: rgba(255, 255, 255, 0.7);
@obr-dark-text-disabled: rgba(255, 255, 255, 0.5);

@obr-light-bg-paper: #f1f3f9;
@obr-light-bg-default: #dde1ee;
@obr-light-prim-main: #9966ff;
@obr-light-prim-light: rgb(173, 132, 255);
@obr-light-prim-dark: rgb(107, 71, 178);
@obr-light-prim-contrast: #fff;
@light-prim-disabled: rgb(66, 58, 83);
@obr-light-sec-main: #dd33ff;
@obr-light-sec-light: rgb(227, 91, 255);
@obr-light-sec-dark: rgb(154, 35, 178);
@obr-light-sec-contrast: #fff;
@light-sec-disabled: rgb(77, 44, 83);
@obr-light-text-prim: rgba(0, 0, 0, 0.87);
@obr-light-text-sec: rgba(0, 0, 0, 0.6);
@obr-light-text-disabled: rgba(0, 0, 0, 0.38);

@ok-dark: #030;
@ok-light: #0b0;

* {
    color: @obr-dark-text-prim;
    background-color: @obr-dark-bg-default;
    box-sizing: border-box;

    &.light {
        color: @obr-light-text-prim;
        background-color: @obr-light-bg-default;
    }
}

.hidden {
    display: none;
}

.accordeonhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > span, svg, h4 {
        color: @obr-dark-prim-contrast;
        fill: @obr-dark-prim-contrast;
        stroke: @obr-dark-prim-contrast;
        
        &.light {
            color: @obr-light-prim-contrast;
            fill: @obr-light-prim-contrast;
            stroke: @obr-light-prim-contrast;
        }

    }
    
    &.secondarycol {
        > span, svg, h4 {
            color: @obr-dark-sec-contrast;
            fill: @obr-dark-sec-contrast;
            stroke: @obr-dark-sec-contrast;
            
            &.light {
                color: @obr-light-sec-contrast;
                fill: @obr-light-sec-contrast;
                stroke: @obr-light-sec-contrast;
            }
        }
    }

    > h4 {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

.aria-visible {
    // stuff that is invisible but accessible to assitive technologies
    font-size: 0;
}

.betweenflex {
    display: flex;
    justify-content: space-between;
}

.blockdisplay {
    display: block;
}

.boxed {
    border: 2px solid @obr-dark-text-prim;
    padding: 4px;

    &.light{
        border-color: @obr-light-text-prim;
    }
}

.elemtitle {
    margin-top: 4px;
    margin-bottom: 10px;
}

.ctrl-elem {
    margin-left: 10px;
}

.flexbox {
    display: flex;
}

.inheritbg {
    background-color: inherit;
}

.noborder {
    border: none;
}

.nopadding {
    padding: 0;
}

.thinbottomborder {
    border-bottom: 1px solid @obr-dark-text-prim;

    &.light {
        border-color: @obr-light-text-prim;
    }
}

.rpbox {
    border: 1px solid @obr-dark-text-prim;
    width: 25px;
    height: 25px;
    margin: 0;

    &.light {
        border-color: @obr-light-text-prim;
    }
}

.size15 {
    width: 15px;
    height: 15px;
}

.size20 {
    width: 20px;
    height: 20px;
}

.svgicon {
    stroke: @obr-dark-text-prim;
    fill: @obr-dark-text-prim;

    &.light {
        stroke: @obr-light-text-prim;
        fill: @obr-light-text-prim;
    }
}

.svgokicon {
    stroke: @ok-light;
    fill: @ok-light;

    &.light {
        stroke: @ok-dark;
        fill: @ok-dark;
    }
}

.wrapping {
    flex-wrap: wrap;
}

button {

    color: @obr-dark-prim-contrast;
    background-color: @obr-dark-prim-main;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-left-color: @obr-dark-prim-light;
    border-top-color: @obr-dark-prim-light;
    border-right-color: @obr-dark-prim-dark;
    border-bottom-color: @obr-dark-prim-dark;
    margin-top: 2px;
    margin-bottom: 2px;
    
    &:hover {
        background-color: @obr-dark-prim-light;
    }

    &:disabled {
        color: @obr-dark-text-disabled;
        background-color: @dark-prim-disabled;
    }

    &.light {
        color: @obr-light-prim-contrast;
        background-color: @obr-light-prim-main;
        border-left-color: @obr-light-prim-light;
        border-top-color: @obr-light-prim-light;
        border-right-color: @obr-light-prim-dark;
        border-bottom-color: @obr-light-prim-dark;

        &:hover {
            background-color: @obr-light-prim-light;
        }
    
        &:disabled {
            color: @obr-light-text-disabled;
            background-color: @light-prim-disabled;
        }
    }
    
    &.secondarycol {
        color: @obr-dark-sec-contrast;
        background-color: @obr-dark-sec-main;
        border-left-color: @obr-dark-sec-light;
        border-top-color: @obr-dark-sec-light;
        border-right-color: @obr-dark-sec-dark;
        border-bottom-color: @obr-dark-sec-dark;
        
        &:hover {
            background-color: @obr-dark-sec-light;
        }
    
        &:disabled {
            color: @obr-dark-text-disabled;
            background-color: @dark-sec-disabled;
        }
    
        &.light {
            color: @obr-light-sec-contrast;
            background-color: @obr-light-sec-main;
            border-left-color: @obr-light-sec-light;
            border-top-color: @obr-light-sec-light;
            border-right-color: @obr-light-sec-dark;
            border-bottom-color: @obr-light-sec-dark;
    
            &:hover {
                background-color: @obr-light-sec-light;
            }
        
            &:disabled {
                color: @obr-light-text-disabled;
                background-color: @light-sec-disabled;
            }
        }

    }
}

textarea {
    resize: none;
    width: 100%;
}

fieldset {

    border: none;
    padding: 0;
    margin: 0;

    &.editable {
        border: 1px solid @obr-dark-text-prim;

        &.light {
            border-color: @obr-light-text-prim;
        }
    }
}

legend {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid @obr-dark-text-prim;
    padding-left: 4px;
    padding-right: 4px;

    &.light {
        border-color: @obr-light-text-prim;
    }

    & > input[type="text"] {
        width: 100%;
        border: none;
    }

}

.current {
    background-color: @obr-dark-prim-light;
    color: @obr-dark-prim-contrast;
    
    &.light {
        background-color: @obr-light-prim-dark;
        color: @obr-light-prim-contrast;
    }
}