<fieldset #fieldSet class="editable elemblock">
    @if(editable){
        <legend class="ctrl-elem">textfield-{{elemModel.getId()}}</legend>
        <div class="spacingbottommedium ctrl-elem" id="{{elemModel.getId()}}-editPanel">
            <div class="spacingbottomsmall">
                <label class="spacingrightsmall" for="titleform-{{elemModel.getId()}}">Change title to:</label>
                <input type="text" id="titleform-{{elemModel.getId()}}" [formControl]="elemModel.title" (input)="fireElemChangedEvent()">
            </div>
            <div>
                <span class="aria-visible" aria-live="polite" >Currently {{elemModel.getRows()}} rows</span>
                <button (click)="addRow()">Expand by one row</button>
            </div>
            <div>
                <button id="{{elemModel.getId()}}-shrink" [disabled]="elemModel.getRows()<2" (click)="deleteRow()">Shrink by one row</button>
            </div>
        </div>
    }
    <div class="boxed">
        @if(hasTitle() || editable) {
            <h4 class="elemtitle paddingleftsmall">{{elemModel.getTitle()}}</h4>
        }
        <textarea class="noborder paddingsmall" [readonly]="!editable" [rows]="elemModel.getRows()" [formControl]="elemModel.text" (input)="fireElemChangedEvent()"></textarea>
    </div>
    @if(editable) {
        <div class="ctrl-elem flexend spacingbottomsmall spacingtopmedium">
            <button (click)="deleteTextfield()">Delete textfield</button>
        </div>
    }
</fieldset>